<!-- Content untuk halaman utama (home) -->

<section>
    <!-- <% const nama = "Nisa Alivia"; %> -->
    <h2>Home</h2>
    <p>Selamat datang di halaman utama <b><%= name %></b></p>
    <!-- <p>Halaman utama</p> -->
</section>